[submodule "api"]
	path = api
	url = https://github.com/kimanihuon/weskoolapi.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kimanihuon/weskoolfrontend.git
[submodule "db"]
	path = db
	url = https://github.com/kimanihuon/weskooldb.git
